/* src/style/modal-style/LoginPopup.css */
.login-popup-con {
  min-width: 320px;
  display: flex !important;
  justify-content: center !important; /* horizontal centering */
  align-items: flex-start !important;  /* align to top */
  padding-top: 15px; /* optional spacing from top */
  position: fixed; /* stay on top of screen */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* make sure it’s above other content */
}




.login-popup-con > div {
  width: auto;
  padding: 0;
}

.login-pop-up-icon > span {
  margin-right: 1.2rem;
  text-align: center;
}

.login-popup-con * {
  font-size: 0.8rem;
}

.login-btn-close-popup {
  opacity: 0.7;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.login-btn-close-popup:hover { opacity: 1; }
.login-btn-close-popup:focus { outline: none !important; box-shadow: none !important; }

/* .login-popup.success { border: 2px solid green; color: green; }
.login-popup.error   { border: 2px solid red;   color: red; } */
