


body {
  background-color: #ffffff;
  overflow-y: auto;
}

.login-container {
  /* border: red solid !important; */
  height: 100%;
  width: 100vw;  
  width: 100%;        
   /* margin: 10px !important; */
   display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
  padding: 0.7rem;
  margin-left: 0 !important;
}

.login-card {
  max-width: 450px;        
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px !important;
  border: rgba(1, 26, 107, 0.212) solid 1px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1) !important;

  /* remove height forcing */
  height: auto;        /* ✅ grow with content */
  max-height: none;    /* ✅ don’t lock to screen */
  display: flex;
  flex-direction: column;
}



.login-card p {
  color: #6c757d;
  margin-bottom: 1.0rem;
}


.pwd-login-con {
  position: relative;
  width: 100%;
}
/* Style the input */
.pwd-login-con input {
  width: 100%;
  padding-right: 40px; /* space for the eye button */
  box-sizing: border-box;
}

/* Eye button inside input */
.pwd-login-con button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

    