body {
  overflow-y: auto;
}

.pwd-signup-con {
  position: relative;
  width: 100%;
}
/* Style the input */
.pwd-signup-con input {
  width: 100%;
  padding-right: 40px; /* space for the eye button */
  box-sizing: border-box;
}

/* Eye button inside input */
.pwd-signup-con button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
}

.signup-container {
  /* border: red solid !important; */
  height: 100%;
  width: 100vw;  
  width: 100%;        
   /* margin: 10px !important; */
   display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
  padding: 0.7rem;
  margin-left: 0 !important;
}

.signup-card {
 max-width: 450px;        
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px !important;
  border: rgba(1, 26, 107, 0.212) solid 1px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1) !important;

  /* remove height forcing */
  height: auto;        /* ✅ grow with content */
  max-height: none;    /* ✅ don’t lock to screen */
  display: flex;
  flex-direction: column;
}


.signup-container > div {
 width: 100%;
  border: rgba(1, 26, 107, 0.212) solid 1px;
}


.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}



.signup-card p {
  color: #6c757d;
  margin-bottom: 1.0rem;
}



